.buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    height: 500px;
    width: 500px;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.box-1{
    border: none;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box-2{
    border: none;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
.box-3{
    border: none;
    border-left: 2px solid;
    border-bottom: 2px solid;
}
.box-4{
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
}
.box-5{
    border: 2px solid;
}
.box-6{
    border:none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
}
.box-7{
    border: none;
    border-top: 2px solid;
    border-right: 2px solid;
}
.box-8{
    border:none;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
.box-9{
    border: none;
    border-left: 2px solid;
    border-top: 2px solid;
}

.card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 0;
    font-size: 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.mover{
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.mover-text{
    font: bold;
    font-size: 30px;
}

.reset-button,
.restart-button{
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.restart-button{
    bottom: 8%;
}

.reset,
.restart{
    padding: 10px;
    font-size: 20px;
}

